<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <!--/*@thymesVar id="owner" type="com.ka.sfgpetclinic.model.Owner"*/-->
    <div class="container">
        <div class="row">
            <h1 th:text="'List of Owners'">List of Owners...</h1>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" owner : ${owners}">
                        <td th:text="${owner?.getId()}">id</td>
                        <td th:text="${owner?.firstName}">Owner's first Name</td>
                        <td th:text="${owner?.lastName}">Owner's last Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>